protobuf==3.20.3
numpy==1.23.0  # Updated numpy version to satisfy streamlit requirements
tensorflow==2.8.0
keras==2.8.0
streamlit==1.44.1
opencv-python-headless==4.11.0.86
pillow==11.2.1
scikit-learn==1.0.2
matplotlib==3.5.1
pandas==2.2.3
scipy==1.8.0
pyarrow==19.0.1
